#header img {
  display: block;
  width: clamp(20rem, 100vh, 100%);
  margin: 0 auto 2rem;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tel {
  margin-top: 5rem;
}

.line {
  text-align: center;
  background-color: #FFFFFF99;
  display: inline-block;
  break-after: always;
  padding: 0.1rem 1rem;
  border-radius: 0.5rem;
}

.line a {
  color: darkgreen;
  text-decoration: none;
}

.line a:hover {
  color: #FF7381;
  text-decoration: underline;
}

h1.line, h2.line {
  margin: 0;
}

h1.line {
  font-size: clamp(3rem, 6rem, 6vh);
  margin-bottom: 0.5rem;
}

h2.line {
  font-size: clamp(2rem, 5rem, 4vh);
  font-weight: normal;
  margin-bottom: 1rem;
}

.separator {
  max-width: 18rem;
  display: block;
  margin: 2.5rem auto;
}

#download {
  display: flex;
  justify-content: center;
  font-size: clamp(4vh, 10rem, 6vh);
  text-align: center;
}

#download a {
  padding: 0.1rem 1.25rem;
  background-color: #AABAFF;
  color: #262E61;
  transition: all 0.1s ease-in-out;
  border-radius: 2.5rem;
  text-decoration: none;
  filter: drop-shadow(10 10 1.5rem #262E61);
  display: flex;
  align-items: center;
}

#download a::before {
  content: '↡';
  margin-right: 0.5rem;
}

#download a::after {
  content: '↡';
  margin-left: 0.5rem;
}

#download a:hover {
  background-color: #53D15E99;
  margin-top: 2px;
  margin-left: 2px;
}

@media (prefers-color-scheme: dark) {
  .line {
    background-color: #00000099;
  }

  .line a {
    color: #54C734;
  }
}